{% extends "base.html" %}
{% load static %}
{% block main-content %}

    <div class='modal' id='modal-login' role='dialog'>

        <div class='modal-header'>
            <button class='close' data-dismiss='modal' type='button'>&times;</button>
            <h3>用户注册</h3>
        </div>
        <div class='modal-body'>
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="inputName">用户名</label>
                    <div class="controls">
                        <input type="text" name="username" placeholder="Name">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">邮箱</label>
                    <div class="controls">
                        <input type="text" name="email" placeholder="email">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPhone_Number">手机号码</label>
                    <div class="controls">
                        <input type="text" name="Phone_Number" placeholder="Phone_Number">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword">密码</label>
                    <div class="controls">
                        <input type="password" name="password" placeholder="Password">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword2">再次输入密码</label>
                    <div class="controls">
                        <input type="password" name="password2" placeholder="Password2">
                    </div>
                </div>

                <div class="control-group">
                    <label class="col-sm-2 control-label" for="inputCode">验证码</label>
                    <div class="controls">
                        <input type="text" name="code" placeholder="Code">
                    </div>
                </div>
                <div class="control-group">
                    <img onclick="changeCode(this);" style="width: 120px;margin-left: 35%" src='{% url 'check_code' %}'>
                    <span style="margin-left: 2%">点击刷新</span>
                </div>


                <div class="control-group">
                    <label class="control-label message"></label>
                </div>
            </form>

            <button class='btn btn-primary submit' style="margin-left: 60%">注册</button>

        </div>

    </div>
    {% csrf_token %}
{% endblock %}

{% block js %}
    <script type='text/javascript'>

        $(function () {


            $('.submit').live('click', function () {
                var username = $('[name="username"]').val();
                var password = $('[name="password"]').val();
                var password2 = $('[name="password2"]').val();
                var email = $('[name="email"]').val();
                var Phone_Number = $('[name="Phone_Number"]').val();
                var code = $('[name="code"]').val();
                var token = $.cookie('csrftoken');
                var val = {
                    'username': username,
                    'password': password,
                    'password2': password2,
                    'Phone_Number': Phone_Number,
                    'email': email,
                    'code': code
                };
                $.ajax({
                    url: '{% url "user_register" %}',
                    type: 'post',
                    tradition: true,
                    headers: {'X-CSRFToken': token},
                    data: JSON.stringify(val),
                    success: function (arg) {
                        $('.message').text('');
                        if (arg.status) {
                            location.href = arg.next_url

                        } else if (arg.errors) {
                            if (arg.errors.username) {
                                $('[name="username"]').val('').attr('placeholder', arg.errors.username[0].message);
                            } else if (arg.errors.email) {
                                $('[name="email"]').val('').attr('placeholder', arg.errors.email[0].message);
                            } else if (arg.errors.Phone_Number) {
                                $('[name="Phone_Number"]').val('').attr('placeholder', arg.errors.Phone_Number[0].message);
                            } else if (arg.errors.password) {
                                $('[name="password"]').val('').attr('placeholder', arg.errors.password[0].message);
                            } else if (arg.errors.password2) {
                                $('[name="password2"]').val('').attr('placeholder', arg.errors.password2[0].message);
                            }
                        } else if (arg.message) {

                            $('.message').text(arg.message);
                        }
                    }
                })


            })


        });
        function changeCode(ths) {
            ths.src = ths.src + '?'
        }
    </script>
{% endblock %}