{% extends 'base.html' %}
{% load static %}


{% block main-content %}


    <div>
        <hr class='hr-double'/>
        <h3 class="message"></h3>

        <div class='row-fluid' id="table" style="display: none">

            <div class='span12 box bordered-box orange-border' style='margin-bottom:0;'>
                <div class='box-header red-background'>
                    <div class='title'>
                        送货单
                    </div>
                    {% if request.session.Account_Type == '1' %}
                        <select name="Store_id" id="" style="margin-left: 10px">
                            <option value="">---请选择公司---</option>
                            {% for row in Store_objs %}
                                <option value="{{ row.id }}">{{ row.Status__Name }}--{{ row.Name }}</option>
                            {% endfor %}
                        </select>
                        <button class="change_store" style="margin-left: 10px">
                            确认
                        </button>
                    {% endif %}


                    <div class='actions'>
                        <a href="#" class="btn box-remove btn-mini btn-link"><i class='icon-remove'></i>
                        </a>
                        <a href="#" class="btn box-collapse btn-mini btn-link"><i></i>
                        </a>
                    </div>
                    <!-- Button to trigger modal -->


                    <a href="#myModal" role="button" class="btn add_form_btn" data-toggle="modal"
                       style="margin-left: 45%"
                    >添加</a>


                </div>

                <div class='box-content box-no-padding'>
                    <div class='responsive-table'>
                        <div class='scrollable-area'>

                            <table class=' table table-bordered table-striped'
                                   style='margin-bottom:0;'>
                                <thead class="table_title">

                                </thead>
                                <tbody class="table_data">

                                </tbody>

                            </table>


                            <!-- Modal -->

                            <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel"
                                 aria-hidden="true">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        ×
                                    </button>
                                    <h3 id="myModalLabel">操作</h3>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="exampleInputName">名称</label>
                                        <input type="text" class="form-control" name="Name">
                                    </div>

                                    {% if request.session.Account_Type == '1' %}

                                        <div class="form-group">
                                            <label for="exampleInputOriginStore">所在仓库</label>

                                            <select name="OriginStore_id" id="">
                                                {% for row in Store_objs %}
                                                    <option value="{{ row.id }}">{{ row.Status__Name }}--{{ row.Name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    {% endif %}


                                    <div class="form-group">
                                        <label for="exampleInputTargetStore">目标仓库</label>

                                        <select name="TargetStore_id" id="">
                                            <option value=>----无----</option>
                                            {% for row in Store_objs %}
                                                <option value="{{ row.id }}">{{ row.Status__Name }}--{{ row.Name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn close_modal" data-dismiss="modal" aria-hidden="true">关闭
                                    </button>


                                    <button class="btn btn-primary add_storeform">确认</button>
                                    <button class="btn btn-primary edit_storeform" style="display: none">确认</button>


                                </div>
                            </div>


                            {% csrf_token %}


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Button to trigger modal -->
    <a href="#myModal_details" role="button" class="btn_details" data-toggle="modal" style="display: none"></a>

    <!-- Modal details -->
    <div id="myModal_details" class="modal hide fade" tabindex="-2" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">详情
                <a href="#myModal_edit" role="button" class="btn add_detail_btn" data-toggle="modal"
                   style="margin-left: 70% ">添加</a>
            </h3>

        </div>
        <div class="modal-body">
            <table class="table table-striped">
                <thead class="details_title">

                </thead>
                <tbody class="details_data">

                </tbody>
            </table>

        </div>
        <div class="modal-footer">
            <button class="btn close_Modal_details" data-dismiss="modal" aria-hidden="true">关闭</button>

        </div>
    </div>

    <!-- Modal edit -->
    <div id="myModal_edit" class="modal hide fade" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×
            </button>
            <h3 id="myModalLabel">操作</h3>
        </div>
        <div class="modal-body">

            <div class="form-group">
                <label for="exampleInputPartLive">物料</label>

                <select name="PartLive_id" id="">
                    {% for row in PartLive_objs %}
                        <option value="{{ row.id }}">{{ row.Part__Name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="exampleInputNumber">数量</label>
                <input type="text" class="form-control" name="Number">
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn close_Modal_edit" data-dismiss="modal" aria-hidden="true">关闭</button>

            <button class="btn btn-primary add_detail">确认</button>
            <button class="btn btn-primary edit_detail" style="display: none">确认
            </button>
        </div>
    </div>

    <input type="text" value="f" name="Form_id" style="display: none">
    <input type="text" value="f" name="Store_hide_id" style="display: none">



{% endblock %}

{% block js %}
    <script src={% static '/javascripts/ients/ients_store.js' %} type='text/javascript'></script>


    <script type='text/javascript'>

        store_order('001')


    </script>

{% endblock %}
